ErrorDocument 500 "Houston, we have a problem."
ErrorDocument 404 https://students.washington.edu/ukc/errordocs/404.html

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

